#maincontainer {
    display: flex;
    flex-wrap: wrap;
}

#city-history {
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-start;
}

#forecast-box {
  display: flex;
  flex-wrap: wrap;
  gap: 20px
}
